body {
  font-family: "Poppins", sans-serif;
}

main {
  min-height: 42vh;
}

.list-unstyled li {
  margin-bottom: 0.5rem;
}

.list-unstyled li a {
  color: #fff !important;
  text-decoration: none;
  font-size: 1rem;
}
