<footer>
    <div class="py-5" style="background-color: #042577;">
        <div class="container text-white">
            <div class="row">
                <div class="col-6 col-md">
                    <a href="../">
                        <img class="mb-2" src="../img/logo.png" alt="" width="200" height="200">
                    </a>
                </div>
                <div class="col-6 col-md">
                    <h3>Services</h3>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Home</a></li>
                        <li><a class="text-muted" href="#">Products</a></li>
                        <li><a class="text-muted" href="#">Cart</a></li>
                        <li><a class="text-muted" href="#">Sing In</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h3>Contact</h3>
                    <address>
                        <br> Av. Gral. José Garibaldi, 987
                        <br> Medellín, Antioquia - Colombia
                        <br> Teléfono: (123) 456-7890
                    </address>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center py-3">
        <span>&copy; 2022 Supermercado el Tio. All Rights Reserved.</span>
    </div>
</footer>